#include('./header.html',{active:'home', title:'Personal settings'})
<div class="row">

    <div class="col-sm-12">
        <h4 class="page-title">Personal settings</h4>
    </div>

    <div class="col-md-6">
        <div class="panel panel-color panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Personal settings</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" id="user-form">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Account number</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" value="${login_user.username}" readonly disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="screenName" placeholder="Enter your name"
                                   value="${login_user.screenName}" required aria-required="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">e-mail</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="email" placeholder="Enter your email address"
                                   value="${login_user.email}" required aria-required="true"/>
                        </div>
                    </div>
                    <div class="clearfix pull-right">
                        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="saveSetting()">
                            Save information
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-color panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Change password</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" id="pwd-form">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Enter the old password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="old_password" required
                                   aria-required="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Enter a new password</label>
                        <div class="col-md-9">
                            <input type="password" name="password" id="password1" class="form-control" required
                                   aria-required="true" rangelength="[6,14]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Confirm the new password</label>
                        <div class="col-md-9">
                            <input type="password" name="repass" class="form-control" equalTo="#password1"/>
                        </div>
                    </div>
                    <div class="clearfix pull-right">
                        <button type="submit" class="btn btn-danger waves-effect waves-light">
                            Set password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
#include('./footer.html')
<script src="${cdnURL()}/plugins/jquery-validate/1.15.1/jquery.validate.min.js"></script>
<script src="${cdnURL()}/plugins/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
<script >
    var tale = new $.tale();

    /**
     * Save personal information
     */
    function saveSetting() {
        var param = $('#user-form').serialize();
        tale.post({
            url : '/admin/profile',
            data: param,
            success: function (result) {
                if(result && result.success){
                    tale.alertOk('Successfully saved');
                } else {
                    tale.alertError(result.msg || 'Save failed');
                }
            }
        });
    }

    $('#pwd-form').validate({
        submitHandler: function (form) {
            var params = $("#pwd-form").serialize();
            tale.post({
                url : '/admin/password',
                data: params,
                success: function (result) {
                    if(result && result.success){
                        tale.alertOk('Password reset complete');
                    } else {
                        tale.alertError(result.msg || 'Password modification failed');
                    }
                }
            });
        }
    });
</script>
</body>
</html>
