#include('./header.html',{active:'setting', title:'System settings'})
<link href="${cdnURL()}/plugins/toggles/toggles.css" rel="stylesheet">

<div id="app" class="row" v-cloak>
    <loading :active.sync="isLoading" :can-cancel="true"></loading>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">System settings</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-color panel-inverse">
                            <div class="panel-heading">
                                <h3 class="panel-title">Site settings</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" id="global-form">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Website address</label>
                                        <div class="col-md-9">
                                            <input type="text" v-model="options.site_url" class="form-control" placeholder="网站地址" required aria-required="true"/>
                                            <span class="help-block"><small>Please keep consistent with the domain name you are currently accessing, otherwise a rendering error will occur.</small></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Site title</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" v-model="options.site_title" placeholder="Site subtitle" required aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Site subtitle</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" v-model="options.site_subtitle" placeholder="Site subtitle" required aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Site description</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" v-model="options.site_description" placeholder="Site description" required aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Site keyword</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" v-model="options.site_keywords" placeholder="Site keyword" required aria-required="true"/>
                                        </div>
                                    </div>

                                    <div class="clearfix pull-right">
                                        <button type="button" class="btn btn-inverse waves-effect waves-light" @click="saveSetting">
                                            Save Settings
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-color panel-inverse">
                            <div class="panel-heading">
                                <h3 class="panel-title">Advanced option settings</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" id="advanced-form">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">CDN address</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="cdnURL" placeholder="CDN address" />
                                            <span class="help-block"><small>This address is used to load the blog background static state resource, it is not clear, please do not set. This configuration is invalid when the public CDN option is turned on</small></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Clean up the cache</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="cacheKey" placeholder="Please enter the cache prefix, enter * delete all caches"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">IP Blacklist</label>
                                        <div class="col-md-9">
                                            <textarea rows="3" class="form-control" v-model="options.site_block_ips" name="blockIps" placeholder="Please enter the blacklist IP, such as: 123.123.33.23, 123.123.33.24"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Uninstall plugin</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="pluginName" placeholder="Please enter the plugin name, enter * uninstall all plugins"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Allow reinstallation</label>
                                        <div class="col-md-9">
                                            <div id="allowInstall" class="toggle toggle-success"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Comments need to be reviewed</label>
                                        <div class="col-md-9">
                                            <div id="allowCommentAudit" class="toggle toggle-success"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Cloud Public CDN Resources</label>
                                        <div class="col-md-9">
                                            <div id="allowCloudCDN" class="toggle toggle-success"></div>
                                            <span class="help-block"><small>When this option is enabled, background static resources use<code>cdn.bootcss.com</code>load</small></span>
                                        </div>
                                    </div>

                                    <input type="hidden" name="allowInstall" v-model="allowInstall"/>
                                    <input type="hidden" name="allowCommentAudit" v-model="allowCommentAudit"/>
                                    <input type="hidden" name="allowCloudCDN" v-model="allowCloudCDN"/>

                                    <div class="clearfix pull-right">
                                        <button type="button" class="btn btn-inverse waves-effect waves-light" @click="saveAdvanced">
                                            Save Settings
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#include('./footer.html')
<script src="${cdnURL()}/plugins/jquery-toggles/2.0.4/toggles.min.js"></script>
<script >
    var tale = new $.tale();
    var vm = new Vue({
        el: '#app',
        data: {
            options: {},
            allowInstall: '',
            allowCommentAudit: '',
            allowCloudCDN: '',
            isLoading: true
        },
        beforeCreate: function(){
            vueLoding = this.$loading.show();
        },
        mounted: function () {
            this.load();
        },
        methods: {
            load: function () {
                var $vm = this;
                tale.get({
                    url: '/admin/api/options',
                    success: function (data) {
                        $vm.options = data.payload;
                        $vm.allowInstall = data.payload.allow_install;
                        $vm.allowCommentAudit = data.payload.allow_comment_audit;
                        $vm.allowCloudCDN = data.payload.allow_cloud_CDN;

                        $('#allowInstall').toggles({
                            on: $vm.allowInstall === 'true',
                            text: {
                                on: 'Om',
                                off: 'Off'
                            }
                        });

                        $('#allowCommentAudit').toggles({
                            on: $vm.allowCommentAudit === 'true',
                            text: {
                                on: 'On',
                                off: 'Off'
                            }
                        });

                        $('#allowCloudCDN').toggles({
                            on: $vm.allowCloudCDN === 'true',
                            text: {
                                on: 'On',
                                off: 'Off'
                            }
                        });

                    },
                    error: function (error) {
                        console.log(error);
                        alert(error || 'Data loading failed');
                    }
                });
            },
            saveSetting: function () {
                var $vm = this;
                var param = tale.copy($vm.options);
                tale.postWithForm({
                    url : '/admin/api/options/save',
                    data: param,
                    success: function (result) {
                        if(result && result.success){
                            tale.alertOk('Setup saved successfully');
                            $vm.load();
                        } else {
                            tale.alertError(result.msg || 'Save failed');
                        }
                    }
                });
            },
            saveAdvanced: function () {
                var $vm = this;
                var param = $('#advanced-form').serialize();
                tale.post({
                    url: '/admin/api/advanced/save',
                    data: param,
                    success: function (result) {
                        if (result && result.success) {
                            tale.alertOk('Option saved successfully');
                            $vm.load();
                        } else {
                            tale.alertError(result.msg || 'Option save failed');
                        }
                    }
                });
            }
        }
    });

    $('#allowInstall').on('toggle', function (e, active) {
        vm.allowInstall = active;
    });

    $('#allowCommentAudit').on('toggle', function (e, active) {
        vm.allowCommentAudit = active;
    });

    $('#allowCloudCDN').on('toggle', function (e, active) {
        vm.allowCloudCDN = active;
    });

    $(document).ready(function () {
        vm.isLoading = false;
        vueLoding.hide();
    });

</script>
</body>
</html>
