#include('/admin/header.html',{active:'themes', title:'Theme setting'})
<div class="row">
${bodyContent}
</div>
#include('/admin/footer.html')
<script >

    var tale = new $.tale();

    /**
     * Save global settings
     */
    function saveThemeOptions(formId) {
        var param = $('#' + formId).serialize();
        tale.post({
            url : '/admin/api/themes/setting',
            data: param,
            success: function (result) {
                if(result && result.success){
                    tale.alertOk('Setup saved successfully');
                } else {
                    tale.alertError(result.msg || 'Setup save failed');
                }
            }
        });
    }

    /**
     * Save personal settings
     */
    function saveIndiviSetting() {
        var param = $('#indivi-form').serialize();
        tale.post({
            url : '/admin/api/themes/setting',
            data: param,
            success: function (result) {
                if(result && result.success){
                    tale.alertOk('Setup saved successfully');
                } else {
                    tale.alertError(result.msg || 'Setup save failed');
                }
            }
        });
    }
</script>
</body>
</html>
