#if(null != article)
<div id="${article.cid ?! 0}" class="comment-container">
    <div id="comments" class="clearfix">
        #if(article.allowComment)
        <span class="response">#if(null!=login_user) Hi，<a href="${login_user.homeUrl}" data-no-instant>${login_user.username}</a>
            if you want <a href="/logout" title="Logout" data-no-instant>Logout</a> ? #end</span>

        <form method="post" id="comment-form" class="comment-form" onsubmit="return TaleComment.subComment();">
            <input type="hidden" name="coid" id="coid"/>
            <input type="hidden" name="cid" id="cid" value="${article.cid}"/>
            <input type="hidden" name="csrf_token" value="${csrf_token}"/>
            <input name="author" maxlength="12" id="author" class="form-control input-control clearfix"
                   placeholder="Userame (*)" value="${login_user.username ?! ''}" required/>
            <input type="email" name="mail" id="mail" class="form-control input-control clearfix" placeholder="e-mail (*)"
                   value="${login_user.email ?! ''}" required/>
            <input type="url" name="url" id="url" class="form-control input-control clearfix" placeholder="URL (http://)"
                   value="${login_user.homeUrl ?! ''}"/>
            <textarea name="content" id="textarea" class="form-control" placeholder="Basic, leave your comment." required minlength="5" maxlength="2000"></textarea>

            ${_csrf_token_input}

            <button class="submit" id="misubmit">submit</button>
        </form>

        #else
        <span class="response">Comment closed.</span>
        #end

        #set( comments = comments(6) )

        #if(!is_empty(comments))
        <ol class="comment-list">
            #for(comment : comments.rows)
            <li id="li-comment-${comment.coid}" class="comment-body comment-parent comment-odd">
                <div id="comment-${comment.coid}">
                    <div class="comment-view" onclick="">
                        <div class="comment-header">
                            <img class="avatar" src="${gravatar(comment.mail)}?s=80&r=G&d=" title="${comment.author}"
                                 width="80" height="80">
                            <span class="comment-author">
                                <a href="${comment.url}" target="_blank" rel="external nofollow">${comment.author}</a>
                            </span>
                        </div>
                        <div class="comment-content">
                            <span class="comment-author-at"></span>
                            <p>${article(comment.content)}</p>
                        </div>
                        <div class="comment-meta">
                            <time class="comment-time">${fmtdate(comment.created)}</time>
                            <span class="comment-reply">
                                <a rel="nofollow" onclick="TaleComment.reply('${comment.coid}');">Reply</a>
                            </span>
                        </div>
                    </div>
                </div>
                #if(comment.levels > 0)
                <div class="comment-children">
                    <ol class="comment-list">
                        #for(child : comment.children)
                        <li id="li-comment-${child.coid}"
                            class="comment-body comment-child comment-level-odd comment-odd">
                            <div id="comment-${child.coid}">
                                <div class="comment-view">
                                    <div class="comment-header">
                                        <img class="avatar" src="${gravatar(child.mail)}?s=80&r=G&d=" title="${child.author}" width="80" height="80">
                                        <span class="comment-author comment-by-author">
                                            <a href="${child.url}" target="_blank" rel="external nofollow">${child.author}</a>
                                        </span>
                                    </div>
                                    <div class="comment-content">
                                        <span class="comment-author-at">
                                            ${comment_at(child.parent)}
                                        </span>
                                        <p>${article(child.content)}</p>
                                    </div>
                                    <div class="comment-meta">
                                        <time class="comment-time">${fmtdate(child.created)}</time>
                                        <span class="comment-reply">
                                            <a rel="nofollow" onclick="TaleComment.reply('${child.coid}');">Reply</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        #end
                    </ol>
                </div>
                #end
            </li>
            #end
        </ol>
        <div class="lists-navigator clearfix">
            <ol class="page-navigator">
                #if(comments.hasPrevPage)
                <li class="prev"><a href="?cp=${comments.prevPage}#comments">←</a></li>
                #end
                #for(navIndex : comments.navPageNums)
                <li #if(comments.pageNum == navIndex) class="current" #end><a href="?cp=${navIndex}#comments">${navIndex}</a></li>
                #end
                #if(comments.hasNextPage)
                <li class="next"><a href="?cp=${comments.nextPage}#comments">→</a></li>
                #end
            </ol>

        </div>
        #end
    </div>
</div>
#end
#include('/comm/tale_comment.html')
